{% extends 'base.html' %}
{% block content %}
<div class="container"><span>
    <div>
    <ul class="collection with-header">
        <li class="collection-header"><h4>Profile</h4></li>
        <li class="collection-item">First Name: {{ profile.first_name }}</li>
        <li class="collection-item">Last Name: {{ profile.last_name }}</li>
        <li class="collection-item">Middle Initial {{ profile.middle_initial }}</li>
        <li class="collection-item">City: {{ profile.city }}</li>
        <li class="collection-item">State: {{ profile.state }}</li>
        <li class="collection-item">Zip: {{ profile.zip_code }}</li>
      </ul>
    </div>
    <div>
    <ul class="collection with-header">
        {% for foo in account %}

        <li class="collection-header"><h4><a href="{% url 'manage' foo.pk %}">Account: {{ foo.description }}</a></h4></li>
            <li class="collection-item">Account Type: {{ foo.get_account_type_display }}</li>
            <li class="collection-item">Current Balance: {{ foo.current_balance }}</li>
            <li class="collection-item">Beginning Balance: {{ foo.beginning_balance }}</li>
            <li class="collection-item"><a href="{% url 'transaction' foo.pk %}">Transactions</a></li>

        {% endfor %}

    </ul>
        </div>
</span>
</div>
{% endblock %}