{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
<div class="panel panel-default">

  <div class="panel-heading"><b>Transaction Details</b></div>

    <table class="table">
    <tr>
        <th>Account</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Description</th>
        <th>To/From Account</th>
        <th>Time</th>
        <th>Balance</th>
    </tr>

    <tr>
        <td>{{ object.account }}</td>
            <td>{{ object.amount }}</td>
            <td>{{ object.get_transaction_type_display }}</td>
            <td>{{ object.description }}</td>
            <td>{{ object.destination_account_id }}</td>
            <td>{{ object.transaction_time }}</td>
            <td>{{ object.new_balance }}</td>
  </tr>
</table>
</div>
</div>
{% endblock %}