{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div><h4>Account Transactions</h4></div>
    <div><a href="{% url 'user_profile' %}">Back to user profile</a></div>
    {% for item in transaction_list %}
    <ul class="collection with-header">
        <li class="collection-item"><a href=""></a>Description: {{ item.description }}</li>
        <li class="collection-item">Amount: {{ item.amount }}</li>
        <li class="collection-item">Account: {{ item.account }}</li>
    </ul>
    {% endfor %}
    </div>

{% endblock %}